<div class="item">
	<div class="field wall m-1" id="wall" draggable="true"
		ondragstart="drag(event)"></div>
</div>
<div class="m-1 item">
	<img id="monster" draggable="true" ondragstart="drag(event)"
		class="character" src="/img/Monster-noBackground.png">
</div>

<div class="m-1 item">
	<img id="knight" draggable="true" ondragstart="drag(event)"
		class="character" src="/img/Knight-noBackground.png">
</div>

<div class="m-1 item">
	<img id="mercenary" draggable="true" ondragstart="drag(event)"
		class="character" src="/img/Mercenary-noBackground.png">
</div>

<div class="m-1 item">
	<img id="wizard" draggable="true" ondragstart="drag(event)"
		class="character" src="/img/Wizard-noBackground.png">
</div>

<div class="m-1 item">
	<img id="sorcerer" draggable="true" ondragstart="drag(event)"
		class="character" src="/img/Sorcerer-noBackground.png">
</div>