body {
	width: 100vw;
	height: 100vh;
}

#main-content {
	width: 100%;
	height: 100%;
}

.map-row {
	aspect-ratio: 20/1;
	max-height: 5%;
}

.map-field {
	width: 5%;
	height: 100%;
}

.map-container {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.field {
	aspect-ratio: 1;
	width: 100%;
	height: 100%;
	min-width: 30px;
	min-height: 30px;
	background-image: url("/img/wood-long-boards-floor.png");
	background-size: cover;
	color: white;
	border: 0.5px solid black;
}

.sidebar .wall{
	width: 30px;
}

.map-view {
	margin-left: 10%;
	width: 80%;
	height: 100%;
	display: flex;
}

.highlight {
	position: absolute;
	width: 30px;
	height: 30px;
}

.opacity-char {
	opacity: 0.5;
}

.opacity-field {
	opacity: 0.35;
}

.character {
	width: 100%;
	height: 100%;
}

.sidebar .character{
	width: 40px;
	height: 40px;
}

.wall {
	background-image: url("/img/wall.jpg");
}

.knight {
	background-image: url("/img/knight.jpg");
}

.mercenary {
	background-image: url("/img/mercenary.jpg");
}

.wizard {
	background-image: url("/img/wizard.jpg");
}

.sorcerer {
	background-image: url("/img/sorcerer.jpg");
}

.m-1 {
	margin: 1rem;
}

.d-flex {
	display: flex;
}

.stack {
	display: flex;
	flex-wrap: wrap;
}

.horizontal {
	justify-content: center;
}

.vertical {
	align-items: center;
}

.open-btn {
	border: 0;
	padding: 5px 10px;
	Font-size: 20px;
	top: 0;
	right: 0;
	transition: .5s;
	position: fixed;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	padding-top: 3em;
	transition: 0.5s;
}

.sidebar .item {
	padding: 5% 5% 5% 15%;
	transition: 0.3s;
}

.sidebar .control-btn {
	position: absolute;
	top: 0;
	right: 50%;
	cursor: pointer;
	font-size: 20px;
}

.btn-costum {
	margin: 5%;
}

#main-content {
	transition: margin-right .5s;
	padding: 20px;
}

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}

	.field {
		width: 15px;
		height: 15px;
	}

	.highlight {
		width: 15px;
		height: 15px;
	}

	.character {
		width: 15px;
		height: 15px;
	}
}