.field {
	width: 30px;
	height: 30px;
	background-image: url("/img/wood-long-boards-floor.png");
	background-size: contain;
	color: white;
	border: 0.5px solid black;
}

.character{
	width: 30px;
	height: 30px;	
}

.wall {
	background-image: url("/img/wall.jpg");
}

.knight{
	background-image: url("/img/knight.jpg");	
}

.mercenary{
	background-image: url("/img/mercenary.jpg");	
}

.wizard{
	background-image: url("/img/wizard.jpg");	
}

.sorcerer{
	background-image: url("/img/sorcerer.jpg");	
}

.m-1{
	margin: 1rem;
}

.d-flex{
	display: flex;
}

#map-view{
	width: 80%;
}

.stack {
	display: flex;
	flex-wrap: wrap;
}

.horizontal {
	justify-content: center;
}

.vertical {
	align-items: center;	
}